

body{
    background: #000;
}
.form-range{
    width: 85%;
    margin-top: 30px;
}
.float-end{
    margin-top: 30px;
}
.texto{
    margin-top: 30px;
}
h7{
    width: 65vw;
    padding-top: 40px;
    font-size: 20px;
}
.btn{
    width: 90vw;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.comprobar{
    width: 90vw;
    margin-top: 30px;
    margin-bottom: 20px ;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 25px;
}
.rightCurr{
    background: palegreen;
}
.wrongCurr{
    background:salmon;
}
.bordes{
    border-radius: 8px;
}
#progresoPrimero{
    width: 6rem;
    height: 6rem;
}
#ajuro{
    max-width: 150px;
    
}
#posiblemente{
    z-index: 3000;
}